{% extends "layouts/base.html" %}
{% load static %}

{% block head %}
    <title>Auditoria de Usuarios</title>
{% endblock %}

{% block content %}
<div class="cuerpo">
    <div class="d-none d-md-block">
        <h1 class="">Auditoría de Usuarios</h1>
    </div>
    <!-- Tabla -->
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table id="datatable_au_usuarios" class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Usuario</th>
                            <th>Grupo</th>
                            <th>Fecha</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for registro in registros_usuarios %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ registro.nombre_usuario }}</td>
                            <td>{{ registro.grupo_usuario }}</td>
                            <td>{{ registro.fecha }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'local/js/auditoria_usuario.js' %}"></script>
{% endblock %}
