{% load static %}
<head>
    {% include "includes/head.html" %}
</head>

<body>
    <!-- Toggle Button -->
    <button class="btn btn-primary" id="menu-toggle">
        <i class="fas fa-bars"></i>
    </button>
    
    <div class="d-flex" id="wrapper">
        <!-- Sidebar -->
        <div class="menu" id="sidebar-wrapper">
            <div class="sidebar-heading">
                <center><img src="{% static 'images/logo.png' %}" alt="Logo" class="img-fluid" id="logoMenu"></center>
            </div>
            <ul class="nav flex-column list-group list-group-flush">
                <!-- Noticias -->
                <li class="nav-item">
                    <a href="{% url 'noticias' %}" class="nav-link text-light">
                        <i class="fas fa-home"></i> Noticias
                    </a>
                </li>
                <!-- Recomendaciones -->
                <li class="nav-item">
                    <a href="{% url 'recomendaciones' %}" class="nav-link text-light">
                        <i class="fas fa-notes-medical"></i> Recomendaciones
                    </a>
                </li>
                <!-- Especies -->
                <li class="nav-item">
                    <a href="{% url 'especies' %}" class="nav-link text-light">
                        <i class="fas fa-dog"></i> Especies
                    </a>
                </li>
                <!-- Buscar -->
                <li class="nav-item">
                    <a href="{% url 'buscar_duenho' %}" class="nav-link text-light">
                        <i class="fas fa-search"></i> Buscar
                    </a>
                </li>

                {% if request.user.is_superuser %}
                    <!-- Usuarios -->
                    <li class="nav-item">
                        <a href="{% url 'usuarios' %}" class="nav-link text-light">
                            <i class="fas fa-users"></i> Usuarios
                        </a>
                    </li>
                    <!-- Auditorías -->
                    <li class="nav-item">
                        <a class="nav-link text-light" data-bs-toggle="collapse" href="#auditoriasCollapse" role="button" aria-expanded="false" aria-controls="auditoriasCollapse">
                            <i class="fas fa-clipboard-list"></i> Auditorías
                        </a>
                        <div class="collapse" id="auditoriasCollapse">
                            <ul class="nav flex-column submenu">
                                <li class="nav-item">
                                    <a class="nav-link text-light" href="{% url 'auditoria_noticias' %}">Noticias</a>
                                </li>
                                {% if request.user.is_superuser %}
                                    <li class="nav-item">
                                        <a class="nav-link text-light" href="{% url 'auditoria_usuarios' %}">Usuarios</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </li>

                {% endif %}
                <!-- Cerrar Sesión -->
                <li class="nav-item">
                    <a href="#" class="nav-link text-light" data-bs-toggle="modal" data-bs-target="#confirmModal">
                        <i class="fas fa-sign-out-alt"></i> Cerrar Sesión
                    </a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Confirm Modal -->
        <div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="confirmModalLabel">Confirmación</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        ¿Estás seguro de que deseas cerrar sesión?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <a href="{% url 'logout' %}" class="btn btn-primary">Cerrar Sesión</a>
                    </div>
                </div>
            </div>
        </div>
    <!-- /#wrapper -->

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const wrapper = document.getElementById("wrapper");
            const menuToggle = document.getElementById("menu-toggle");
        
            // Oculta el menú por defecto en pantallas pequeñas
            if (window.innerWidth <= 767.98) {
                wrapper.classList.add("toggled");
            }
        
            // Alterna el menú cuando se hace clic en el botón
            menuToggle.addEventListener("click", function(e) {
                e.preventDefault();
                wrapper.classList.toggle("toggled");
            });
        });
        
        
    </script>
</body>
