{% extends "layouts/base.html" %}

{% block head %}
    <title>Crear Vacuna</title>
{% endblock head %}

{% block content %}
<div class="contenedor">
    <div class="card">
        <div class="card-header">
            <h3>Crear Vacunas</h3>
        </div>
        <div class="card-body">
            <form action="" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="nombre">Nombre:</label>
                    <input type="text" name="nombre" id="nombre" class="form-control" required>
                    
                    <label for="lote">Descripción:</label>
                    <textarea name="descripcion" id="descripcion" class="form-control" required></textarea>
                    
                    <label for="lote">Lote:</label>
                    <input type="text" name="lote" id="lote" class="form-control" required>
                    
                    <label for="fecha_vencimiento">Fecha de vencimiento:</label>
                    <input type="date" name="fecha_vencimiento" id="fecha_vencimiento" class="form-control" required>
                    
                    <label for="laboratorio">Laboratorio:</label>
                    <input type="text" name="laboratorio" id="laboratorio" class="form-control" required>
                    
                    <label for="especie">Especie:</label>
                    <select name="especie" id="especie" class="form-control" required>
                        <option value="">Seleccione una especie</option>
                        {% for especie in especies %}
                            <option value="{{ especie.id }}">{{ especie.nombre }}</option>
                        {% endfor %}
                    </select>
                </div>
                <br>
                <div class="form-group">
                    <input type="submit" value="Crear" class="btn btn-primary">
                    <a href="{% url 'vacunas' %}" class="btn btn-danger">Cancelar</a>
                </div>
            </form>
        </div>    
    </div>
</div>
{% endblock %}