{% extends "layouts/base.html" %}

{% block title %}Crear{% endblock %}

{% block content %}
    <div class="contenedor">
        <div class="card">
            <div class="card-header">
                <h3>Crear Especies</h3>
                {% if forms.errors %}
                    <div class="alert alert-danger">
                        <span>Error</span>
                    </div>
                {% endif %}
            </div>
           
            <div class="card-body">
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="nombre">Nombre:</label>
                        <input type="text" name="nombre" id="nombre" class="form-control" required>
                        <label for="descripcion">Descripcion:</label>
                        <textarea name="descripcion" id="descripcion" class="form-control" placeholder="Opcional"></textarea>
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="submit" value="Crear" class="btn btn-primary">
                        <a href="{% url 'especies' %}" class="btn btn-danger">Cancelar</a>
                    </div>
                </form>
            </div>    
        </div>
    </div>  
{% endblock %}