@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/*** LOGIN ***/
#container{
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    margin: auto;
}

.container p{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.container span{
    font-size: 12px;
}

.container a{
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}

.container button{
    background-color: #203354;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

.container button.hidden{
    background-color: transparent;
    border-color: #fff;
}

.container form{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}

.container input{
    background-color: #eee;
    border: none;
    margin: 2px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

.form-container{
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in{
    left: 0;
    width: 50%;
    z-index: 2;
}

.container.active .sign-in{
    transform: translateX(100%);
}

.toggle-container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 150px 0 0 100px;
    z-index: 1000;
}

.container.active .toggle-container{
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0;
}

.toggle{
    background-color: #203354;
    height: 100%;
    background: linear-gradient(to right, #203354, #1a325b);
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.container.active .toggle{
    transform: translateX(50%);
}

.toggle-panel{
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.toggle-right{
    right: 0;
    transform: translateX(0);
}

.container.active .toggle-right{
    transform: translateX(200%);
}

#logo{
    height: 120px;
    width: 120px;
}

/* Estilos para los enlaces dentro de los elementos de la lista */
.nav-item a {
    font-size: 16px; /* Tamaño de fuente de los enlaces */
    padding: 8px 15px; /* Espaciado interior del enlace */
    color: #fff; /* Color de texto blanco */
    text-decoration: none; /* Quitar subrayado del enlace */
}

/* Estilos para los íconos dentro de los elementos de la lista */
.nav-item i.fas {
    font-size: 16px; /* Tamaño de fuente de los íconos */
    margin-right: 10px; /* Margen a la derecha del ícono */
}

/* Estilos al pasar el cursor sobre los elementos de la lista */
.nav-item:hover {
    background-color: #e2e2e2; /* Cambio de color de fondo al pasar el cursor */
}


/*** CONTENEDOR ***/
.contenedor {
    position: absolute; 
    padding-left: 18%;
    width: 100%;
}

.card-body {
    margin: 10px 0;
}

#tab:hover {
    background-color: #e2e2e2;
    
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: -250px; /* Ocultar el sidebar cuando está toggled */
}

#sidebar-wrapper {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%; /* Ocupa toda la pantalla */
    z-index: 1000;
    overflow-y: auto;
    background: #001f3f;
    color: #fff;
    transition: margin 0.25s ease-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Espacio entre el logo y el resto del contenido */
}

/* Logo dentro del menú */
.sidebar-heading {
    padding: 1rem;
    font-size: 1.25rem;
    text-align: center;
    background-color: #203354;
    color: #fff;
}

/* Ajusta el tamaño del logo */
#logoMenu {
    height: 120px;
    width: 120px;
    margin: 0 auto; /* Centra el logo */
}

/* Estilos del contenido del menú */
.nav {
    padding: 0;
    list-style: none;
    flex-grow: 1; /* Asegura que el menú crezca para llenar el espacio disponible */
}

.nav-item {
    margin-top: 10px;
    padding: 10px 0;
}

.nav-item a {
    font-size: 16px;
    padding: 8px 15px;
    color: #fff;
    text-decoration: none;
    display: block;
}

.nav-item i.fas {
    font-size: 16px;
    margin-right: 10px;
}

.nav-item:hover {
    background-color: #2f2c79;
}

.submenu .nav-item {
    padding-left: 20px; /* Ajusta este valor para controlar el espacio */
}

/* Estilos para el botón de toggle */
#menu-toggle {
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 1100;
    display: none;
}


/* Para pantallas grandes (desktop) */
@media (min-width: 992px) {
    /* menu */
    #sidebar-wrapper {
        width: 250px; /* Tamaño normal del sidebar en pantallas grandes */
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -250px; /* Oculta el menú en pantallas grandes */
    }

    #wrapper.toggled #page-content-wrapper {
        padding-left: 250px;
    }

    #sidebar-wrapper {
        position: fixed;
        width: 250px;
        height: 100%;
        background: #001f3f;
        top: 0;
        left: 0;
        z-index: 1000;
    }

    .nav {
        flex-direction: column;
        justify-content: flex-start;
        padding: 0;
        background-color: #001f3f;
    }

    .nav-item {
        margin: 0;
        padding: 10px 0;
        width: 100%;
        text-align: left;
    }

    .nav-item a {
        padding: 10px 15px;
        font-size: 1em;
    }

    .sidebar-heading {
        display: block;
    }

    #logoMenu {
        height: 120px;
        width: 120px;
    }

    #menu-toggle {
        display: none;
    }
    
    /* cuerpo de la pagina */
    .cuerpo {
        position: absolute; /* Cambiado a 'relative' para evitar el desplazamiento fijo */
        padding-left: 18em; /* Espaciado interno adaptable */
        top: 6em; /* Mantener el desplazamiento desde la parte superior */
        width: 95%; /* Ancho completo por defecto */
        box-sizing: border-box; /* Incluir el padding dentro del ancho */
    }
}



/* Para pantallas medianas (tablet) */
@media (min-width: 768px) and (max-width: 991.98px) {
    /* login */
    #container {
        width: 90%;
        min-height: 400px;
    }

    .form-container,
    .toggle-container {
        width: 50%;
    }

    .toggle-panel {
        width: 100%;
    }

    .toggle {
        width: 100%;
        left: 0;
    }

    .toggle-container {
        position: absolute;
    }

    .container.active .toggle {
        transform: translateX(0);
    }

    .container.active .toggle-container {
        transform: translateX(0);
    }

    .nav-item i.fas {
        font-size: 1em; /* Tamaño de fuente de los íconos */
        margin-right: 1px; /* Margen a la derecha del ícono */
    }

    /* menu */
    #sidebar-wrapper {
        width: 200px; /* Reduce el ancho del menú */
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -100%; /* Oculta el menú en pantallas medianas */
    }

    #wrapper.toggled #page-content-wrapper {
        padding-left: 0;
    }

    #sidebar-wrapper {
        position: fixed;
        width: 100%;
        height: 100%; /* Ocupa toda la pantalla */
        background: #001f3f;
        top: 0;
        left: 0;
        z-index: 1000;
    }

    .nav {
        flex-direction: column;
        justify-content: flex-start;
        padding: 0;
        background-color: #001f3f;
    }

    .nav-item {
        margin: 0;
        padding: 10px 0;
        width: 100%;
        text-align: center;
    }

    .nav-item a {
        padding: 15px;
        font-size: 2.5em;
    }

    .sidebar-heading {
        display: block;
    }

    #logoMenu {
        height: 10em;
        width: 10em;
    }

    #menu-toggle {
        display: block;
        height: 70px;
        width: 70px;
    }

    /* contenido de la pagina */
    .cuerpo {
        width: 100%;
        /* centrar el contenido */
        padding-left: 3em;
        padding-right: 2em;
        top: 10em;
        padding-top: 6em;
        font-size: 2em;
    }
}



/* Estilos para pantallas pequeñas */
@media (max-width: 767.98px) {
    /* login */
    #container {
        width: 90%;
        max-width: 400px;
        background-color: #ffffff;
        border-radius: 20px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
        padding: 20px;
        margin: auto;
        margin-top: 15vh; /* Añadido para centrar en pantalla pequeña */
    }

    .form-container {
        padding: 20px;
        width: 100%;
        max-width: 100%;
        border-radius: 10px;
        box-shadow: none;
        margin: 0;
    }

    .container p {
        font-size: 14px;
        line-height: 20px;
        margin: 20px 0;
        color: #333;
    }

    .container a {
        color: #203354;
        font-size: 14px;
        text-decoration: none;
        margin: 15px 0 10px;
    }

    .container a:hover {
        text-decoration: underline;
    }

    .container button {
        background-color: #203354;
        color: #ffffff;
        font-size: 14px;
        padding: 12px 45px;
        border: none;
        border-radius: 8px;
        font-weight: 600;
        text-transform: uppercase;
        margin-top: 20px;
        cursor: pointer;
        width: 100%;
        transition: background-color 0.3s ease;
    }

    .container button:hover {
        background-color: #0056b3;
    }

    .container input {
        background-color: #f0f0f0;
        border: none;
        margin: 10px 0;
        padding: 12px 15px;
        font-size: 14px;
        border-radius: 8px;
        width: 120%;
        outline: none;
    }

    #logo {
        max-width: 100px;
        margin-bottom: 20px;
    }

    h1 {
        font-size: 24px;
        margin-bottom: 20px;
        color: #333;
        text-align: center;
    }

    /* Ocultar el toggle en pantallas pequeñas */
    .toggle-container {
        display: none;
        width: 0; /* Asegura que no ocupe espacio */
        height: 0; /* Asegura que no ocupe espacio */
    }
    
    /* menu */
    #menu-toggle {
        display: block;
    }

    /* Asegúrate de que el sidebar esté oculto inicialmente en pantallas pequeñas */
    #wrapper.toggled #sidebar-wrapper {
        margin-left: -100%;
    }

    #wrapper.toggled #page-content-wrapper {
        padding-left: 0;
    }

    /* Ajustes para cuando el sidebar esté visible */
    #sidebar-wrapper {
        position: fixed;
        width: 100%;
        height: 100%; /* Ocupa toda la pantalla */
        background: #001f3f;
        top: 0;
        left: 0;
        z-index: 1000;
    }

    .nav {
        flex-direction: column;
        justify-content: flex-start;
        padding: 0;
        background-color: #001f3f;
    }

    .nav-item {
        margin: 0;
        padding: 10px 0;
        width: 100%;
        text-align: center;
    }

    .nav-item a {
        padding: 15px;
        font-size: 16px;
    }

    /* El logo será visible también en pantallas pequeñas */
    .sidebar-heading {
        display: block;
    }
    
    /* Ajustes para el contenido de la página */
    .cuerpo {
        padding-left: 5%;
        position: absolute; /* Cambiado a 'relative' para evitar el desplazamiento fijo */
        width: 90%; /* Ancho completo */
        top: 4em; /* Reducir el desplazamiento desde la parte superior */
        padding-top: 3em;
    }
    

    
    
}

